body,
html {
  padding: 0;
  margin: 0;
  background: linear-gradient(white, #bdc3c7, #2c3e50);
  height: 100%;
}

.main {
  /* background-image: url('background.jpg'); */
  background-image: url('background2.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
}

.main-overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 72px;
  padding-right: 48px;
  padding-left: 48px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-link {
  padding-right: 48px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: #74B707;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header-link-2 {
  padding-right: 48px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: #E9326B;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header-link-3 {
  padding-right: 48px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: #6B69F0;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header-link-4 {
  padding-right: 48px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: #FF9606;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.logo {
  color: purple;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.home-container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.text-input-container {
  width: 800px;
}

.text-container {
  color: white;
  text-align: center;
  margin-bottom: 32px;
}

h1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

span {
  transition: 2s;
  font-size: 60px;
  color: purple;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.home-container-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  padding-left: 40px;
}

.home-container-form-input {
  width: 300px;
  height: 32px;
  outline: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.home-container-form-button {
  width: 64px;
  height: 32px;
  margin-top: 24px;
  background: none;
  border-radius: 5px;
  background: #7EBF0D;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.home-container-form-label {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 100vh;
  padding-top: 8px;
}

.job-categories {
  display: flex;
  width: 90%;
}

h3 {
  color: white;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}